    <div class="navbar">
    <ul>
        <li>
            <a href="/">Current Weather</a>
        </li>
        <li>
            <a href="/fivedays">5 Day Forecast</a>
        </li>
    </ul>
    </div>
